// Colores
BordeChampionRojo = #990000;
BordeChampionAzul = #084b59;
BordeSpells = #999900;
BordeBans = #1c93ae;
Boxes = #E3B74D;

html
	overflow-y auto

body
	background-image url('AppDesign/Background.png')
	background-repeat: no-repeat
	color: white
	font-family: 'Lato', sans-serif
	padding-top: 1px
	width: 1280px
			
	.esquina
		bottom: 0px
		position: absolute
	
		&.izquierda
			background-image: url('AppDesign/EsquinaIzquierda.png')
			background-repeat: no-repeat
			height: 142px
			left: 0px
			pointer-events: none;
			width: 142px
			
		&.derecha
			background-image: url('AppDesign/EsquinaDerecha.png')
			background-repeat: no-repeat
			height: 104px
			pointer-events: none;
			right: 0px
			width: 108px
			z-index 500
	
	.startDiv
		width: 1280px
		text-align center
		
		&.ocultar
			position: absolute
			visibility hidden
		
		.startImage
			background-image url('AppDesign/StartImage.png')
			border-radius 50%
			height: 300px
			margin 80px auto 40px auto
			width: 300px
			-webkit-animation-name breathing
			-webkit-animation-duration 4s
			-webkit-animation-iteration-count infinite
			
		.startText
			font-size 30px
			text-shadow 0px 5px 5px black
			text-transform uppercase
			
		.startInputSumName
			background transparent
			border none
			border-bottom 2px solid white
			font-size 25px
			outline none
			text-align center
			text-transform uppercase
			width 400px
			
			&::-webkit-input-placeholder
				text-align center
				text-shadow 0px 3px 1px black
		
		.startButtonDiv
			height 90px

			.startButton
				background transparent
				border 2px solid white
				border-radius 50%
				box-shadow 0px 3px 5px black
				font-size 20px
				height 60px
				margin-top: 20px
				outline none
				text-transform uppercase
				width 60px
				transition box-shadow 0.4s ease 0s
				
				&:hover
					border 2px solid BordeBans
					box-shadow 0px 0px 20px BordeChampionAzul
					color BordeBans
					
		#informationText
			font-size 15px
	
	#menu
		position: absolute
		top: 0px
		
		&.active
			left 230px

			#sidebar-wrapper
				left 230px
				transition all 0.4s ease 0s
				width 230px

	#sidebar-wrapper
		background-image: url('AppDesign/Menu.png')
		background-repeat: no-repeat
		box-shadow: 5px 0px 20px black
		height 100%
		left 0px
		margin-left -230px
		position fixed
		transition all 0.4s ease 0s
		width 230px
		z-index 1000

		.sidebar-nav
			list-style none
			margin 0
			padding 0
			position absolute
			width 230px
		
			ul
				
				li
					font-size 18px
					line-height 40px
					margin-left -40px
					text-align center
					text-transform uppercase

					a
						color: white
						display: block
						text-decoration: none

						&:hover
							background-color rgba(255,255,255,0.2)

			&>.sidebar-brand
				height 50px
				position relative
				
				.summoner-icon
					height: 50px
					width: 50px
					border-right: 2px solid Boxes
					position: absolute
					
					&.not-logged
						-webkit-filter grayscale(100%)
					
				.owner-name
					position: absolute
					left: 55px
					margin: 0px
					bottom: 0px
					font-size: 18px
					
				.loggedAs
					position: absolute
					left: 55px
					margin: 0px
					top: 0px
					font-size: 13px
	
	.menu-toggle
		color: white
		font-weight: bold
		position: absolute
		text-decoration: none
		text-shadow: 0px 3px 5px black
		text-transform: uppercase
		
		&.uno
			font-size: 20px
			left: 54px
			top: 15px
		
		&.dos
			font-size: 15px
			right: 7px
	
	.currentMatch
		height: 100%
		
		&.ocultar
			position absolute
			visibility hidden
			
		.separador
			position: absolute
			top: 330px
			
		.game-info
			bottom: 0px
			font-size: 20px
			font-weight: bold
			left: 135px
			margin: 0px
			position: absolute
				
		#despliegue-busqueda
			position absolute
			bottom: 0px
			right: -490px
			transition all 1s ease 0s
		
			&.active
				right: -31px
				transition all 1s ease 0s

			.busqueda
				background-image url('AppDesign/Busqueda.png')
				background-repeat no-repeat
				height: 57px
				position: relative
				width: 599px
			
				.desplegar-busqueda
					background-image url('AppDesign/BotonExpansion.png')
					background-repeat no-repeat
					display: inline-block
					height: 36px
					left: 12px
					position: absolute
					top: 9px
					transition -webkit-transform 1s ease 0s
					width: 34px
						
					&.invertir
						-webkit-transform: scaleX(-1)
						
					&:hover
						background-image url('AppDesign/BotonExpansion_Hover.png')
					
				.campos-busqueda
					background-image url('AppDesign/CampoBusqueda.png')
					background-repeat no-repeat
					display: inline-block
					height: 32px
					left: 60px
					position absolute
					top: 9px
					width: 321px
				
					.summoner-name-input
						background transparent
						border none
						font-size 15px
						left 70px
						line-height 23px
						outline: none
						position: absolute
						top 4px
						width 210px
					
				.boton-busqueda
					background url('AppDesign/SearchButton.png')
					background-repeat no-repeat
					border: none
					display: inline-block
					height: 36px
					left: 380px
					outline: none
					position absolute
					top: 9px
					width: 137px
					
					&:hover
						background-image url('AppDesign/SearchButton_Hover.png')
						transition none

		.seccion
			position: relative
			text-align: center
			width: 100%
			
			&.arriba
				height: 304px
				
			&.abajo
				height: 270px
			
			.team
				
				&.arriba
					margin-top: 100px
					
				&.abajo
					margin-top: 50px
					
				.summoner
					display: inline-block
					height: 270px
					margin-right: 35px
					width: 133px
					
					.champart-container
						height: 243px
						width: 133px
						background-color: black
						box-shadow: 0px 5px 10px black
						position: relative
						
						.champart
							height: 243px
							width: 133px
							
							&.azul
								box-shadow: 0px 0px 10px BordeChampionAzul
								
							&.rojo
								box-shadow: 0px 0px 10px BordeChampionRojo
								
						.cortina
							background-color: black
							height: 243px
							left: 0px
							opacity: 0.4
							position: absolute
							top: 0px
							width: 133px

						.tier
							height: 30px
							left: 2px
							position: absolute
							top: 2px
							width: 30px
							
						.tier-number
							font-size: 13px
							left: 32px
							margin: 0px
							position: absolute
							text-transform: uppercase
							top: 10px
							
						.spell
							border: 1px solid BordeSpells
							height: 30px
							position: absolute
							width: 30px
							
							&.uno
								bottom: 10px
								left: 10px
								
							&.dos
								bottom: 10px
								left: 46px

					.summoner-name
						font-size: 15px
						margin: 5px 0px 0px 0px
						text-shadow: 0px 3px 5px black
						
			.bans-panel
				position: absolute
				right: 170px
				text-align: center
				width: 60px
				top: 8px
				
				.ban-tittle
					font-weight: bold
					margin-bottom: 5px
					text-align: center
					text-transform: uppercase
				
				.ban
					border-radius: 50%
					border: 2px solid white
					height: 50px
					margin-bottom: 5px
					width: 50px
					-webkit-filter: grayscale(80%)
	
@font-face{
	font-family: 'Lato'
	src: url('Fonts/Lato-Regular.ttf')
}

@keyframes breathing {
	0%{
		box-shadow 0px 0px 0px BordeChampionAzul
	}
	50%{
		box-shadow 0px 0px 30px BordeChampionAzul
	}
	10%{
		box-shadow 0px 0px 0px BordeChampionAzul
	}
}